a {
    color: #48f551;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: rgb(197, 38, 38);
    background-color: #ffffff;
    border-color: #ffffff;
}

body {
    background-color: #000000;
}



